<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="badge">4차 산업혁명을 맞이하여</span>
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted" style="font-family:'Gothic A1'; font-style:normal; line-height:2em">창의적 아이디어를 구현하는 <span class="label label-info">컴퓨팅사고력</span>(Computational Thinking)기반의 체험·탐구 중심 교육을 통한 미래 창조 디지털 시대를 이끌어갈 <span class="label label-danger">창의적 융합 인재</span> 육성 사업과 <span class="label label-success">지역사회탐구</span>(지역 인프라 활용 및 지역사회연계)프로젝트, 네트워크 운영, 메이커 활동을 목표로 합니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">창의적 융합 인재</h4>
                    <p class="text-muted">체험(놀이)과 탐구중심의 배움중심(질문과 토론이 있는) 소프트웨어(SW) 프로그램 운영</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">컴퓨팅 사고력</h4>
                    <p class="text-muted">미래 창조 디지털 시대를 이끌어갈 창의적 융합 인재 육성 프로그램 운영</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">지역사회탐구</h4>
                    <p class="text-muted">수요자의 NEEDS 및 현장중심 자율·맞춤형 프로그램 운영</p>
                </div>
            </div>
        </div>
    </section>
